/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 55%;
    width: 70%;
    position: absolute;
    bottom: 0px;

}

/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#floating-panel{
    position: absolute;
    top: 20px;
    left:25%;
    z-index: 5;
    border: 1px solid #999;
    text-align: center;
    line-height: 30px;
    padding: 10px;

    background-color:transparent;
}



input{
    width: 500px;
}
#coordinates{
    display: flex;
    flex-direction: column;
}

#directionsPanel{
    background-color: red;
    position: absolute;
    top:20px;
    right: 10%;
    width: 400px;
    z-index:5;
}

@media and maxwidth(500px)