{% extends 'base.html' %}

{% block title %}Welcome{%endblock title %}

{% block content %}

{% if 'profile' in session %}
<h1>Welcome {{ session['profile']['given_name'] }}</h1>

<p2><a href="{{ url_for('logout') }}">Logout</a></p2>
    {% if current_date < premium %}
        <p3>You are a premium user!</p3>
    {% else %}
        <p>You are not a premium user</p>
        <p></p><a href="{{ url_for('buy_premium', email=session['profile']['email']) }}">Click here to buy a premium subscription!</a></p>
    {% endif %}
{% else %}
<h1>Welcome</h1>
<p2><a href="{{ url_for('login') }}">Login</a></p2>
{% endif %}

<form action="{{ url_for('main') }} " method="post">
<label for="search-box" >Search you issue</label>
    <input type="text" id="search-box" name="search-box" placeholder="ex: dentist">
    <button type="submit">Search</button>
</form>


<div id="floating-panel">
    <div>
        <div id="coordinates">
            <strong>Start: </strong>
            <input id="start" type="text" name="start">
            <strong>End: </strong>
            <input id="end" type="text" name="end">
        </div>

    </div>
    <div>
        <strong>Mode of Travel: </strong>
        <select id="mode">
            <option value="DRIVING">Driving</option>
            <option value="WALKING">Walking</option>
            <option value="BICYCLING">Bicycling</option>
            <option value="TRANSIT">Transit</option>
        </select>
    </div>
    <p>Total Distance: <span id="total"></span></p>
    <div>
        <p id="directionsPanel"></p>
    </div>

</div>


<div id="map"></div>



<script src="{{ url_for('static', filename='main.js') }}"></script>
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFZ_Sw64FNRGBiKixCF8TJGYxN1AXrpQs&libraries=places"
></script>
<script src="{{ url_for('static', filename='map.js') }}"></script>

{%endblock content %}


