{% extends 'base.html' %}

{% block title %}Welcome{%endblock title %}

{% block content %}

{% if 'profile' in session %}
<h1>Welcome {{ session['profile']['given_name'] }}</h1>

<p2><a href="{{ url_for('logout') }}">Logout</a></p2>
    {% if current_date < premium %}
        <p3>You are a premium user!</p3>
    {% else %}
        <p>You are not a premium user</p>
        <p></p><a href="{{ url_for('buy_premium', email=session['profile']['email']) }}">Click here to buy a premium subscription!</a></p>
    {% endif %}
{% else %}
<h1>Welcome</h1>
<p2><a href="{{ url_for('login') }}">Login</a></p2>
{% endif %}

<form action="{{ url_for('main') }} " method="post">
<label for="search-box" >Search you issue</label>
    <input type="text" id="search-box" name="search-box" placeholder="ex: dentist">
    <button type="submit">Search</button>
</form>


<script src="{{ url_for('static', filename='main.js') }}"></script>

{%endblock content %}


